<header class="mb-auto" >
    <div th:fragment= "header">
        <a href="/"><h3 class="float-md-start mb-0" style="color:white">Dalal.am</h3></a>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" style="color:white" href="/">Home</a>
            <a class="nav-link" style="color:white" href="/shop">Shop</a>
            <a class="nav-link" style="color:white" href="/about">About</a>
            <a class="nav-link" style="color:white" href="/shop/add">Add Product</a>
        </nav>
    </div>
</header>